*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: rgb(235, 235, 232);

}
/* main covers all */
main{
    display: flex;
    /* width: 100vw;
    height: 100vh; */
    /* overflow: hidden; */
}

/* styles the direct children of the main */

.site-nav-main{
    background-color: #fff;
    color: #000;
    width: 250px;
    padding: 20px 15px;
}
.dashboard{
    padding: 20px 40px;
    width: 100%;
    height: 100%;
}

.site-nav-main h1{
    margin: 20px 0;
   margin-left: 20px;
   position: relative;
}
.site-nav-main h1::after{
    position: absolute;
    left: 23px;
    bottom: 7px;
    background-color: rgb(56, 112, 243);
    width: 5px;
    height: 5px;
    content: '';
    border-radius: 50px;
}
.site-nav-main h3{
   font-weight: normal;
   font-size: 16px;
   margin-left: 20px;
   color: rgb(96, 96, 96);
   text-transform: uppercase;
   margin: 20px 0 20px 20px;
}
.site-nav-main li{
    margin: 15px 0;
    padding: 15px 20px;
}
li.site-nav-active{
    border-radius: 15px;
    background-color: rgb(56, 112, 243);
    color:#fff !important;
}
li.site-nav-active a,li.site-nav-active i{
    color: #fff !important;
}
.site-nav-main a{
   display: flex;
   align-items: center;
   color: inherit;
   text-decoration: none;
   font-size: 14px;
}
.site-nav-main a i{
 display: inline-block;
 margin: 0 10px;
 color: #415481;
}

.site-nav-sub,.site-nav-lead{
    margin: 20px 0;
    margin-top: 40px;
}
.site-nav-sub h3{
    margin: 10px 0 10px 20px;
}
.site-nav-footer{
    width: 250px;
    padding: 20px 0;
}
.site-nav-footer h4{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}
/* dashboard styling */
.dashboard header{
    margin:15px 0
}
.dashboard nav{
    display: flex;
    justify-content: flex-end;
}
.dashboard nav p{
    background-color: rgb(218, 218, 215);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0 20px;
    position: relative;
}
.dashboard nav p:nth-child(1)::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 40px;
    background-color: rgb(218, 218, 215);
    transform: translateX(17px);
}
.dashboard nav p:nth-child(2){
    margin-right: 0;
}
.dashboard nav p img{
    border-radius: 50px;
}
.notif-tag i{
    position: relative;
}
.notif-tag i::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color: #ee9c30;
}
.img-fluid{
    width: 100%;
    height: 100%;
}
.text-light{
    color: rgb(96, 96, 96);
}
/* dashboard details styling */
.harmburger{
    display: none;
}
.dashboard-details{
    margin-bottom: 50px;
}
.dashboard-welcome{
    padding: 10px 0;
    margin: 15px 0;
}
.dashboard-welcome h3{
    font-weight: normal;
    font-size: 25px;
}
.dashboard-welcome h3 span{
    font-weight: 500;
}
.dashboard-welcome h3+p{
    font-size: 14px;
}

.card-rows{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.card-rows article{
    width: 300px;
background-color: #fff;
border-radius: 10px;
padding: 20px 15px;
position: relative;
overflow: hidden;
transition: all 0.25s ease-in;
}
.card-rows article h4{
    font-weight: normal;
}
.card-rows article p{
    margin: 10px 0;
    font-weight: bold;
    font-size: 30px;
}
.card-rows-footer{
    position: absolute;
    right: -40px;
    bottom: -40px;
    height: 100px;
    width: 100px;
    background-color: rgb(56, 112, 243);
    display: flex;
    align-items: top;
    justify-content: top;
    border-radius: 50px;
    padding: 20px;
    transition: all 0.25s ease-in;
    /* background-color: blue; */
}
.card-rows-footer i{
    font-size: 20px;
    color: #fff;
}

.card-rows article:hover{
    background-color: rgb(56, 112, 243);
    color: #fff;
}
.logi{
    transform: translateX(-10px) rotate(30deg);
}

/* dashboard chart style */
.dashboard-charts h3{
    font-size: 18px;
    font-weight: 500;
}
.dashboard-charts p{
    font-size: 14px;
}
.dashboard-charts-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0;
}
.dashboard-charts-info ul{
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 30px;
}
.dashboard-charts-info li{
    display: inline-block;
    margin: 0 15px;
    padding: 5px;
}
.dashboard-charts-info li a{
    text-decoration: none;
}
.dashboard-charts-info li a.active{
    background-color: rgb(56, 112, 243);
    color: #fff;
    padding: 5px 15px;
border-radius: 5px;
}

.dashboard-charts-display{
    background-color: #fff;
    padding: 20px 40px 10px 40px;
    /* height: 50vh; */
}
.dashboard-detailed{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.dashboard-detailed ul{
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.dashboard-detailed ul li:nth-child(2){
   margin: 0 40px;
}
.dashboard-detailed ul h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}
.dashboard-detailed ul p{
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}
.dashboard-detailed .chart-keys{
    align-items: flex-end;
}
.dashboard-detailed .chart-keys h4{
    visibility: hidden;
}
.dashboard-detailed .chart-keys p{
    font-weight: normal;
} 
.shipment-indicator,.vehicle-indicator{
    position: relative;
}
.chart-keys{display: none;}
.shipment-indicator::before{
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-400%,-50%);
    background-color: #2cd9c5;
    width: 20%;
    height: 20%;
    position: absolute;
}

.vehicle-indicator::before{
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-370%,-50%);
    background-color: #826af9bf ;
    width: 20%;
    height: 20%;
    position: absolute;
}
.dashboard-for_chart{
    height: 400px;
    position: relative;
}
#myChart{
    position: absolute;
    height: 360px !important;
    width: 100%!important;
    padding: 10px 0;
    transform: translateY(40px);
}


/* Dark Mode Styles */
/* comment the styles below to see the light mode */
body{
    background-color: #010a1d !important;
    color: #fff
}
.card-rows article{
    background-color: #04122e;
    color: #fff;
}
.site-nav-main{
    background-color: #04122e;
    color: #fff;
}
.dashboard-charts-info ul{
    background-color: #04122e;
    color: #fff;
}
.dashboard-charts-display{
    background-color: #04122e;
    color: #fff;
}
.site-nav-main a i{
    color: #fff;
}
.dashboard nav p{
    background-color: #04122e;
}

@media screen and (max-width:1250px){
    .card-rows{
        flex-wrap: wrap;
    }
    .card-rows article{
        margin: 10px 0;
        width: 380px;
    }
}

@media screen and (max-width:1104px){
    .card-rows{
        flex-wrap: wrap-reverse;
    }
    .card-rows article{
        width: 100%;
    }
    .dashboard-charts-info{
        flex-direction: column;
    }
    .dashboard-charts-info ul{
        margin: 10px auto;
    }
}

@media screen and (max-width:966px){
    .site-nav{
         position: absolute;
         z-index: 5;
         display: none;
        transition: all 0.25s ease-in;
    }
   .toggle-nav{
       display: block;
       width: 100%;
       height: 100%;
   }
    .dashboard{
        position: relative;
    }
    .site-nav-main{
        width: 100%;
        height: 100%;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .harmburger{
        display: block;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50px;
        cursor: pointer;
        background-color: #04122e;
        padding: 15px 5px;
        border-radius: 50px;
    } 
    .harmburger span{
        background-color: #fff;
        display: block;
        width: 30px;
        height: 5px !important;
        border-radius: 15px;
    }
    header .harmburger span:nth-child(2){
        width: 20px;
    }
    header .harmburger span:nth-child(3){
        width: 15px;
    }
    .site-nav-main h1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}